INITIALIZE_DB=true
INITIALIZE_APP_DB=true
DB_HOST=db
DJANGO_DB_NAME=guby
DJANGO_SU_NAME=guby_admin
DJANGO_SU_EMAIL=admin@my.company
DJANGO_SU_PASSWORD=abcd1234
DJANGO_SETTINGS_MODULE=guby.settings

POSTGRES_USER=guby_admin
POSTGRES_PASSWORD=abcd1234
POSTGRES_DB=guby

#rocketchat
ROCKET_ADMIN_USERNAME=guby
ROCKET_ADMIN_PASSWORD=guby123
ROCKET_ADMIN_EMAIL=guby@guby.live
ROCKET_SERVER_HOST=localhost
ROCKET_SERVER_PORT=3000