{% extends 'base.html' %}

{% block title %}Events{% endblock %}

{% block content %}

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="http://placehold.it/150x50?text=Logo" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <!-- <li class="nav-item active">
                        <a class="nav-link" href="#">Sign In
                            <span class="sr-only">(current)</span>
                        </a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/app/meetups">Meetups</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Events</li>
                </ol>
              </nav>
            <div class="col-sm-6 mx-auto">
                <div class="card" style="margin-top:5rem;">
                    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                    <div class="card-body">
                        <!-- <h4 class="card-title">Your Events</h4> -->
                        <div class="row">
                            <div class="col-sm-9">
                                <h4 class="card-title">Your Events</h4>
                            </div>
                            <div class="col-sm-3">
                                <a class="btn btn-primary" href="/app/meetups/{{ meetup_id }}/events/add">Add</a>
                            </div>
                        <table class="table ">
                            <thead>
                              <tr>
                                <th scope="col">Start Date</th>
                                <th scope="col">End Date</th>
                                <th scope="col">Video Lounges</th>
                                <th scope="col">Discussion Channels</th>
                                <th scope="col">Status</th>
                                <th scope="col">Actions</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for event in events %}
                                <tr>
                                    <td><a href="#">{{ event.start_date }}</a></td>
                                    <td><a href="#">{{ event.end_date }}</a></td>
                                    <td><a href="#">{{ event.lounges }}</a></td>
                                    <td><a href="#">{{ event.channels }}</a></td>
                                    <td><a href="#">{{ event.status }}</a></td>
                                    <td>
                                        <a href="/app/meetups/{{ event.meetup.id }}/events/{{ event.id }}/edit/">Edit</a>
                                        <a href="/app/meetups/{{ event.meetup.id }}/events/{{ event.id }}/delete/">Delete</a>
                                    </td>
                                </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
