{% extends 'base.html' %}

{% block title %}Add meetup owner{% endblock %}

{% block content %}

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="http://placehold.it/150x50?text=Logo" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <!-- <li class="nav-item active">
                        <a class="nav-link" href="#">Sign In
                            <span class="sr-only">(current)</span>
                        </a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 mx-auto">
                <div class="card" style="margin-top:5rem;">
                    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                    <div class="card-body">
                        <h5 class="card-title">Add Speakers</h5>
                        <!-- <p class="card-text">Enter details of your super awesome meetup</p> -->

                        {% load crispy_forms_tags %}
                        <form class="form-signin" action="/app/meetups/{{ meetup_id }}/owner/add" method="POST">
                            {% csrf_token %}

                                <input type="text" id="inputMeetupOwner" class="form-control" placeholder="Add meetup owner"
                                    required value="" name="meetup-userid"  >
                                <label for="meetup-userid">Add meetup owner username</label>

                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Add Owner</button>
                            <!-- <hr class="my-4"> -->
                            <!-- <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign in with Google</button> -->
                            <!-- <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button> -->
                        </form>


                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
