{% extends 'base.html' %}

{% block title %}Add Speaker{% endblock %}

{% block content %}

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="http://placehold.it/150x50?text=Logo" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <!-- <li class="nav-item active">
                        <a class="nav-link" href="#">Sign In
                            <span class="sr-only">(current)</span>
                        </a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
      <div class="row">
        <div class="col-6 mx-auto">
          <div class="card">
            <div class="card-body">

              <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 pl-0">
                  <li class="breadcrumb-item"><a href="#">Meetups</a></li>
                  <li class="breadcrumb-item"><a href="#">Event</a></li>
                  <li class="breadcrumb-item"><a href="#">Owners</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Add</li>
                </ol>
              </nav>

              <h1 class="card-title">Add Speaker</h1>


              {% load crispy_forms_tags %}
              <form class="form-signin" action="/app/meetups/{{ meetup_id }}/events/{{ event_id }}/speakers/add/" method="POST">
                  {% csrf_token %}
                  <div class="form-group">
                      <label for="speaker-email">Email</label>
                      <input type="text" id="speaker-email" class="form-control" required name="speaker-email" />
                      <small class="form-text text-muted">
                        Guby will send an email to this ID asking them to join
                        as the speaker. If they don't have an account on Guby,
                        they will be asked to create one
                      </small>
                  </div>

                  <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Add speaker</button>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>


{% endblock %}
