{% extends 'base.html' %}

{% block title %}Speakers{% endblock %}

{% block content %}

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="http://placehold.it/150x50?text=Logo" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <!-- <li class="nav-item active">
                        <a class="nav-link" href="#">Sign In
                            <span class="sr-only">(current)</span>
                        </a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 mx-auto">
                <div class="card" style="margin-top:5rem;">
                    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                    <div class="card-body">
                        <h5 class="card-title">Currently Invited Speakers</h5>
                        <table class="table ">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Email</th>
                                <th scope="col">Status</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>@mdo</td>
                                <td>Registered</td>
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td>@fat</td>
                                <td>Not Registered</td>
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td>@twitter</td>
                                <td>Not Registered</td>
                              </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5" style="text-align: left;">
                                        <a href="/app/speakers/add" type="button" class="btn btn-lg btn-primary ">Add Speaker</a>
                                    </td>
                                </tr>
                                <tr>
                                </tr>
                            </tfoot>
                          </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
